modules = ["nodejs-20", "postgresql-16", "web"]
run = "npm start"


[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "cd server && node index.js"]
build = ["sh", "-c", "cd client && npm run build"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45689992
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && node index.js"

[[ports]]
localPort = 5000
externalPort = 80
